<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677626932210-3i7qkkf6rrm7i5sanq1impq4d588l8qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677626932210-3i7qkkf6rrm7i5sanq1impq4d588l8qq</string>
	<key>API_KEY</key>
	<string>AIzaSyB0ylqf7R_EfgCuZsgsy3_BITtns0GdQi0</string>
	<key>GCM_SENDER_ID</key>
	<string>677626932210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>https---profile.intra.42.fr-.ft-hangouts</string>
	<key>PROJECT_ID</key>
	<string>ft-hangouts-c5ccd</string>
	<key>STORAGE_BUCKET</key>
	<string>ft-hangouts-c5ccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677626932210:ios:03775ccba9a56ae5c3996b</string>
</dict>
</plist>